@import "~bootstrap/dist/css/bootstrap.min.css";

/* Styling and animations for NavBar */
.navbar .nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ff7f0e;
  background-color: rgba(255, 127, 14, 0.1);
  border-radius: 5px;
}

.navbar .dropdown-menu a.dropdown-item:hover {
  background-color: #ff7f0e;
  color: white;
}

.input-group-text {
  background-color: transparent;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ff7f0e;
}

.btn-warning {
  background-color: #ff7f0e;
  border: none;
}

.btn-warning:hover {
  background-color: #e06b00;
}



/* SideBar Styling */
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }

  .dropdown-item.parent-item {
    font-weight: bold;
  }
  .sidebar-container {
    position: relative;
    height: 100%;
    background-color: #f8f9fa; /* Sidebar background color */
    z-index: 1000; /* Ensure sidebar stays on top of the content */
    overflow-x: visible;
  }
  
  .dropdown-menu {
    z-index: 1050; /* Higher than the sidebar to ensure dropdowns appear on top */
  }
  
  .dropdown-submenu {
    position: absolute;
    top: 0;
    left: 100%; /* This will make submenus open to the right instead of the left */
    margin-top: -5px;
    z-index: 1051; /* Ensure submenus appear above everything else */
  }
  
  .sidebar-container.hidden {
    width: 0;
  }
  
  .flex-grow-1 {
    transition: margin-left 0.3s ease;
  }
  
  